

@if (authService.TokenSig === null) {

  <a href="/login" >
    <button type="button" class="btn btn-info">login</button>
  </a> 

  <a href="/register" >
    <button type="button" class="btn btn-info">register</button>
  </a> 

    <li>
        <a routerLink='/login' routerLinkActive="active">login</a>
      </li>
      <li>
        <a routerLink='/register' routerLinkActive="active">register</a>
      </li>

  } 
  @else {

    <a href="/login" >
      <button type="button" class="btn btn-info" (click)="logout()">login Button link</button>
    </a>  
      
    <h1>{{ authService.JWTResponseSig()?.jwt  }}</h1>



    <span (click)="logout()" >Logout</span>

  } 



<router-outlet></router-outlet>
    
    








