<p>profile works!</p>

<p>astring: {{ astring$ | async }}</p>



@if(profileResponse$ | async; as resultObject){

    <!--         
    <p>id: {{(profileResponse$ | async)!.id  }}</p>
    <p>username: {{(profileResponse$ | async)!.username  }}</p>
    <p>name: {{(profileResponse$ | async)!.name  }}</p>
    <p>email: {{(profileResponse$ | async)!.email  }}</p>
    <p>role: {{(profileResponse$ | async)!.role  }}</p>
    <p>enabled: {{(profileResponse$ | async)!.enabled  }}</p>
    <p>authorities: {{(profileResponse$ | async)!.authorities }}</p>

    @for (item of (profileResponse$ | async)!.authorities; track item) {

        <p>authorities item: {{ item.authority }}</p>
        
      }
            --> 

    <p>id: {{(profileResponse$ | async)?.id  }}</p>
    <p>username: {{(profileResponse$ | async)?.username  }}</p>
    <p>name: {{(profileResponse$ | async)?.name  }}</p>
    <p>email: {{(profileResponse$ | async)?.email  }}</p>
    <p>role: {{(profileResponse$ | async)?.role  }}</p>
    <p>enabled: {{(profileResponse$ | async)?.enabled  }}</p>
    <p>authorities: {{(profileResponse$ | async)?.authorities }}</p>

    @for (item of (profileResponse$ | async)?.authorities; track item) {

        <p>authorities item: {{ item.authority }}</p>
        
    }



    
}
